{% for post in posts %}
    <div id="post" class="{{ post.id }}">
        <!-- user informations -->
        {% if post.user.profile_photo %}
            <img src="http://127.0.0.1:8000/media/{{ post.user.profile_photo }}" alt="{{post.user.username}}" id="profile-pic">
        {% else %}
            <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-trendy-style-social-media-user-icon-187599373.jpg" alt="{{post.user.username}}" id="profile-pic">
        {% endif %}

        <a href="{% url 'profile' post.user.username %}" id="post-username">{{ post.user.username }}</a>

        {% if post.user.is_verified %}
            <img src="https://i.pinimg.com/originals/42/ad/0e/42ad0ebff37f0625e34df640dc4ae25d.png" alt="verified" title="verified" id="verified">
        {% endif %}

        <!-- edit post icon  -->
        {% if post.user == user %}
            <div id="edit">
                <i class="fa fa-edit edit-icon-{{ post.id }}" id="edit-icon" title="edit" onclick="editPost( '{{ post.id }}' )"></i>
            </div>
        {% endif %}

        <!-- post content -->
        <p id="post-content" class="post-content-{{ post.id }}">{{ post.content }}</p>
        <input type="text" value="{{ post.content }}" id="input-post-content" class="input-post-{{ post.id }}-content">

        <!-- edit post  -->
        <form action="{% url 'edit' post.id %}" method="post">
            {% csrf_token %}
            <input type="image" src="https://www.materialui.co/materialIcons/content/save_grey_192x192.png" alt="save" class="save-{{ post.id }}" id="save-icon" style="display: none;">
            <textarea name="edit-post" id="edit-post" class="edit-{{ post.id }}" autofocus>{{ post.content }}</textarea>
        </form>

        <!-- post date -->
        <p id="posted-date">{{ post.posted_date }}</p>

        <!-- likes -->
        {% if post.id in liked_post_id_list %}
            <div id="likes">
                <form class="likeForm">
                    <button 
                        class="like" 
                        type="button"
                        data-post="{{ post.id }}"
                        data-liked="true"
                        data-likes="{{ post.likes }}"
                        data-session-user="{{ request.user.username }}">
                            <i class="fa fa-heart"></i> 
                            {{ post.likes }}
                    </button>
                </form>
            </div>
        {% else %}
            <div id="likes">
                <form class="likeForm">
                    <button 
                        class="unlike" 
                        type="button" 
                        data-post="{{ post.id }}"
                        data-liked="false"
                        data-likes="{{ post.likes }}"
                        data-session-user="{{ request.user.username }}">
                            <i class="fa fa-heart"></i> 
                            {{ post.likes }}
                    </button>
                </form>
            </div>
        {% endif %}

        <div id="copy">
            <i class="fa fa-copy" title="copy" onclick="CopyToClipboard( '{{ post.id }}' )"></i>
        </div>
    </div>
{% endfor %}

<!-- pagination -->
<div class="container">
    <ul class="pagination justify-content-center">
    {% if posts.has_previous %}
    <li class="page-item"><a href="?page={{ posts.previous_page_number }}" class="page-link">Previous</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link">Previous</a></li>
    {% endif %}

    <li class="page-item"><a class="page-link">{{ posts.number }}</a></li>
    {% if posts.has_next %}
        <li class="page-item"><a href="?page={{ posts.next_page_number }}" class="page-link">Next</a></li>
    {% else %}
        <li class="page-item disabled"><a class="page-link">Next</a></li>
    {% endif %}
</div>