{% extends "network/layout.html" %}

{% block body %}

    <div id="login-form">
        <h2>Register</h2>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input class="login-fields" autofocus type="text" name="username" placeholder="Username">
            <input class="login-fields" type="email" name="email" placeholder="Email Address">
            <input class="login-fields" type="password" name="password" placeholder="Password">
            <input class="login-fields" type="password" name="confirmation" placeholder="Confirm Password">
            <div>{{ message }}</div>
            <input class="btn btn-primary" type="submit" value="Register">
        </form>
    </div>

    <div class="bottom-msg">
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>

{% endblock %}